[v-cloak] {
    display: none;
  }
  
  .title {
    font-size: 30px;
    text-align: center;
    font-family: monospace;
  }
  
  .leave {
    float: right;
    font-family: monospace;
  }
  
  .channel {
    font-size: 22px;
    text-align: center;
    color: white;
    font-family: monospace;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
  }
  
  .event {
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
  
  .event-name {
    font-size: 20px;
    font-family: monospace;
    color: white;
    margin-bottom: 2px;
    padding-bottom: 5px;
  }
  
  .event-detail {
    font-size: 15px;
    font-family: monospace;
    margin: 2px;
    vertical-align: top;
    width: 25%;
    display: inline-block;
    color: white;
  }
  
  .participant-div {
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 45%;
    vertical-align: top;
    font-family: monospace;
  }
  
  .button {
    font-family: monospace;
    background: white;
    border: none;
    float: right;
    border-radius: 5px;
  }
  
  .participant {
    font-size: 16px;
    font-family: monospace;
    background-color: white;
    display: block;
    border-radius: 3px;
    margin: 2px;
    padding: 2px;
  }