[v-cloak] {
  display: none;
}

body {
  font-family: monospace;

}

.in-progress {
  cursor: wait;
}

.title {
  font-size: 30px;
  text-align: center;
}

.app {
  max-width: 1000px;
  overflow: auto;
  margin: auto;
}

.channel {
  font-size: 22px;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
}

.channel-title {
  text-align: center;
}

.channel-count {
  text-align: right;
}

.leave {
  float: right;
  color: red;
}

.event {
  background-color: dimgray;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.event-header {
  font-size: 20px;
  color: white;
  margin-bottom: 3px;
}

.event-name {
  font-weight: bold;
}

.event-date {
  text-align: right;
  font-size: 18px;
}

.event-count {
  text-align: right;
  font-size: 18px;
}

.event-new {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.participant-list {
  font-size: 16px;
  color: whitesmoke;
  margin-top: 4px;
}

.participant {
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 8px;
  margin-top: 4px;
  overflow: auto;
}